@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400&family=Monoton&display=swap');

@mixin reset-spacing {
  margin: 0;
  padding: 0;
}

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

* {
  box-sizing: border-box;
}

body {
  background: #262738;
  color: white;
  font-family: 'Cairo';
  font-size: 20px;
}

// h1,
// h2,
// h3,
// h4 {
//   font-family: 'Monoton';
// }

img {
  max-width: 100%;
}

ul,
li {
  @include reset-spacing;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

#root {
  @include flex(column);
  place-items: center;
}

textarea.typing-box {
  padding: 0.5em;
  margin-bottom: 2rem;
  width: 100%;
  background: #363646;
  color: white;
  font-size: 1rem;
}

button.start-btn {
  margin-bottom: 2rem;
}

// .time-remaining {
//   margin-bottom: 0.25em;
// }

// .word-count {
//   margin-top: 0;
// }

/* **               ** */
/* ** MEDIA QUERIES ** */
/* **               ** */

/* Medium screens - TABLET */
@media only screen and (min-width: 641px) {
  /* Large screens - DESKTOP */
  @media only screen and (min-width: 1025px) {
  }

  /* XLarge screens */
  @media only screen and (min-width: 1441px) {
  }

  /* XXLarge screens */
  @media only screen and (min-width: 1921px) {
  }
}

/* Large screens - use when QAing large screen-only issues */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
} /* XLarge screens - use when QAing xlarge screen-only issues */
