@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Monoton&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Cairo";
}

img {
  max-width: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

/* **               ** */
/* ** MEDIA QUERIES ** */
/* **               ** */
/* Medium screens - TABLET */
@media only screen and (min-width: 641px) {
  /* Large screens - DESKTOP */
  /* XLarge screens */
  /* XXLarge screens */
}
/* Large screens - use when QAing large screen-only issues */
/* XLarge screens - use when QAing xlarge screen-only issues */